<!DOCTYPE html>
<html lang="en" data-theme="fantasy">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- comment out below for no tailwind ui -->
    <link href="./frontend/static/output.css" rel="stylesheet">
  </head>
  <body>

    <div class="w-full p-3 grid place-items-end">
      <label class="cursor-pointer grid grid-cols-1 splace-items-center">
        <p class="text-center w-full font-semibold">Theme</p>
        <input type="checkbox" value="luxury" class="toggle theme-controller bg-base-content row-start-1 col-start-1 col-span-2"/>
      </label>
    </div>

    <div class="grid place-items-center">
      <h1 class="text-6xl text-center font-semibold shadow-black bg-transparent">this person hasnt updated their page yet</h1>
    </div>
     
  </body>
</html> 