<!DOCTYPE html>
<html lang="en" data-theme="fantasy">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- comment out below for no tailwind ui -->
    <link href="./frontend/static/output.css" rel="stylesheet">
  </head>
  <body>

    <div class="grid place-items-center">
      <h1 class="text-6xl text-center font-semibold shadow-black bg-transparent">this person hasnt updated their page yet</h1>
    </div>

  </body>
</html> 