<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./frontend/static/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>

    <div class="grid place-items-center">
      <h1 class="text-6xl text-center font-bold mt-6 mb-12 bg-gradient-to-r from-primary via-secondary to-accent text-transparent bg-clip-text w-fit">75h</h1>
    </div>

    
    <div class="w-full grid place-items-center h-full grid-cols-3 grid-rows-3 gap-y-10">
      <form hx-post="/api/verify-user" class="w-full grid place-items-center col-start-2 col-span1 row-start-2 row-span1">
        <input type="password" id="logincode" name="logincode" placeholder="Enter code" class="align-middle input input-bordered w-full max-w-xs" />
        <button type="submit" class="btn btn-neutral my-2">Submit</button>
      </form>
      <div class="w-full h-full"></div>
    </div>

  </body>
</html> 