<!DOCTYPE html>
<html lang="en" data-theme="fantasy">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./frontend/static/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>

    <div class="w-full p-3 grid place-items-end">
      <label class="cursor-pointer grid grid-cols-1 splace-items-center">
        <p class="text-center w-full font-semibold">Theme</p>
        <input type="checkbox" value="luxury" class="toggle theme-controller bg-base-content row-start-1 col-start-1 col-span-2"/>
      </label>
    </div>

    <div class="grid place-items-center">
      <h1 class="text-6xl text-center font-semibold shadow-black bg-transparent">Welcome to</h1>
      <h1 class="text-6xl text-center font-bold mt-2 mb-6 bg-gradient-to-r from-primary via-secondary to-accent text-transparent bg-clip-text w-fit">CSHOMIES.COM</h1>
    </div>

    
    

  </body>
</html> 