<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./frontend/static/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>

    <div class="w-full p-3 grid place-items-end">
      <label class="cursor-pointer grid grid-cols-1 splace-items-center">
        <p class="text-center w-full font-semibold">Theme</p>
        <input type="checkbox" value="sunset" class="toggle theme-controller bg-base-content row-start-1 col-start-1 col-span-2"/>
      </label>
    </div>

    <div class="grid place-items-center">
      <h1 class="text-6xl text-center font-semibold shadow-black bg-transparent">Welcome to</h1>
      <h1 class="text-6xl text-center font-bold mt-2 mb-6 bg-gradient-to-r from-primary via-secondary to-accent text-transparent bg-clip-text w-fit">CSHOMIES.COM</h1>
    </div>

    
    <div class="w-full grid place-items-center">
      <div class="w-full grid grid-cols-3 place-items-center p-3 md:w-3/4 lg:w-2/3 gap-y-5">
        <div class="card w-11/12 shadow-xl bg-base-200">
          <div class="card-body">
            <h2 class="card-title whitespace-nowrap overflow-clip">Evan's website</h2>
            <p></p>
            <div class="card-actions justify-end">
              <a href="./evan" class="btn btn-primary">Visit</a>
            </div>
          </div>
        </div>
        <div class="card w-11/12 shadow-xl bg-base-300 outline-dashed outline-2 outline-zinc-300">
          <div class="card-body h-full">
            <h2 class="card-title">ㅤ</h2>
            <p></p>
            <div class="card-actions justify-end">
              <a href="./evan" class="btn btn-disabled">Visit</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html> 